li
    a(href="#") Dashboard
li.dropdown
    a(href="#", data-toggle="dropdown").dropdown-toggle
        | Workflows
        b.caret
    ul.dropdown-menu
        li
            a(href="#") My Workflows
        li
            a(href="#") All Workflows
li.dropdown
    a(href="#", data-toggle="dropdown").dropdown-toggle
        | Workflow-Design
        b.caret
    ul.dropdown-menu
        li
            a(href="/field/") Fields
        li
            a(href="#") Workflow
        li
            a(href="#") Mailing list
li.dropdown
    a(href="#", data-toggle="dropdown").dropdown-toggle
        | Administration
        b.caret
    ul.dropdown-menu
        li
            a(href="/user") User
        li
            a(href="#") System

li.dropdown
    a(href="#", data-toggle="dropdown").dropdown-toggle
        | Account
        b.caret
    ul.dropdown-menu
        li
            a(href="#") Settings
        li
            a(href="/logout") Logout