include ../mixins/form
include type/types

+field-label('text', t("fields.form.name"), 'fieldname', 'fieldname', field.name)
+select-label(t("fields.form.type"), 'type', 'type', field.type, [
        {label:t("fields.types.text"), value:"text"},
        {label:t("fields.types.textarea"), value:"textarea"},
        {label:t("fields.types.file"), value:"file"},
        {label:t("fields.types.date"), value:"date"},
        {label:t("fields.types.number"), value:"number"},
        {label:t("fields.types.checkbox"), value:"checkbox"},
        {label:t("fields.types.select"), value:"select"},
        {label:t("fields.types.radiogroup"), value:"radiogroup"},
        {label:t("fields.types.checkboxgroup"), value:"checkboxgroup"}])

+checkbox-label(t("fields.form.readonly"), 'readonly', 'readonly', field.readonly)

hr(size=1)
div(id="type-config")
    case field.type
        when 'text'
            +typeText(field.configuration)
        when 'textarea'
            +typeTextarea(field.configuration)
        when 'number'
            +typeNumber(field.configuration)
        when 'file'
            +typeFile(field.configuration)
        when 'checkbox'
            +typeCheckbox(field.configuration)
        when 'date'
            +typeDate(field.configuration)
        when 'select'
            +typeSelect(field.configuration)

button(type="submit").btn.btn-primary.btn-sm= t("form.save")
| &nbsp;
a(href="/field").btn.btn-default.btn-sm= t("form.cancel")

include typeTemplates
