script(type="text/template", id="type-text-template")
    +typeText({})

script(type="text/template", id="type-textarea-template")
    +typeTextarea({})

script(type="text/template", id="type-number-template")
    +typeNumber({})

script(type="text/template", id="type-date-template")
    +typeDate({})

script(type="text/template", id="type-checkbox-template")
    typeCheckbox({})

script(type="text/template", id="type-file-template")
    +typeFile({})

script(type="text/template", id="type-checkboxgroup-template")

script(type="text/template", id="type-radiogroup-template")

script(type="text/template", id="type-select-template")
    +typeSelect({})