include ../mixins/form

+field-label('text', t("user.form.username"), 'username', 'username', user.username)
+field-label('password', t("user.form.password"), 'password', 'password', password)
+field-label('email', t("user.form.email"), 'email', 'email', user.email)
+field-label('text', t("user.form.firstname"), 'firstname', 'firstname', user.profile.firstName)
+field-label('text', t("user.form.lastname"), 'lastname', 'lastname', user.profile.lastName)

button(type="submit").btn.btn-primary.btn-sm= t("form.save")
| &nbsp;
a(href="/user").btn.btn-default.btn-sm= t("form.cancel")
