extends ../layout
block container
    form.form-signin(role="form", action="login", method="POST")
        h3.form-signin-heading= t("login.header")
        input(type="text", placeholder=t("login.username"), name="username", required, autofocus).form-control
        input(type="password", placeholder=t("login.password"), name="password", required).form-control
        button.btn.btn-primary.btn-block(type="submit")= t("login.submit")