extends ../layout
block container
    form.form-signin(role="form", action="login", method="POST")
        h2.form-signin-heading Please sign in
        input(type="text", placeholder="Username", name="username", required, autofocus).form-control
        input(type="password", placeholder="Password", name="password", required).form-control
        button.btn.btn-primary.btn-block(type="submit") Sign in